*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #333;
    color: black;
    padding: 50px 50px 100px 50px;
    /* border-color: red;
    border: 2px solid #333; */
    text-align: left;
    background: url("/Images/banner.jpg");
    background-size: contain;
    object-fit: contain;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.all_post{
    background-color: beige;
    display: flex;
    flex-wrap:wrap;
    margin-top: 20px;
    gap: 20px;
    margin-left: 60px;
    margin-right: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.all_post section{
    flex: 1 1 47%;  
}
.all_post h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 20px;
    color:black
}
.post{
 margin: 0px;  
 background-color: white;
 padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
p{
    text-align: justify;
    padding-top: 5px;
    font-style: oblique;
}
.post img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    
}
.nav-var{
    background-color: rgb(46, 175, 175);
    border: 2px solid black;
    border-top: 0px;
    
}
#nav_flex ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 30px;
    
}
#nav_flex ul li a{
    display: block;
    padding: 20px 40px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
#nav_flex ul li{
   
    border-right: 2px solid black;
}