*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-container{
    width: 60%;
    background-color: yellow;
    padding: 10px;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 10px;
}
.second-half{
    display: grid;
    
}
.box1{
    background-color: aqua;

}
.box{
   border: 2px dashed black;

}
@media (max-width:575px) {
    .main-container{
    
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.7fr;
}
    
}