*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-container{
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 5px;
   grid-template-rows: repeat(6,200px);
}
.wide-layout{
    grid-column: span 6;
    grid-row: span 2;
}
.double-layout{
    grid-column: span 2;
    grid-row: span 2;
}
.row-layout{
    grid-column: span 2;
    grid-row: span 1;
}
.regular-layout{
    grid-column: span 1;
    grid-row: span 1;
}
img{
    width: 100%;
    height: 100%;
    
}

