
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color:#F15B22;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;

}
    .banner{
        width: 100%;
        height: auto;
        background-image: url('/Images/M1M5_practise/banner/banner1.png');
        background-size: cover;
        background-repeat: no-repeat;
        aspect-ratio: 1600/808;
        
    }
    .banner .banner-content{
        text-align: right;
        margin: 0px 230px 346px 845px;
        padding-top: 250px;
        max-width: 525px;
        
    }
.banner-content h1{
    font-size: 65px;
    font-weight: bold;
    padding-left: 40px;
    margin-bottom: 24px;
}
.banner-content p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
    text-align: right;
    font-weight: regular;
}